#### Importing Data with Pandas

In [1]:
import pandas as pd

In [3]:
reviews = pd.read_csv('ign.csv')

In [4]:
reviews.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [5]:
reviews.shape

(18625, 11)

#### Indexing DataFrame with Pandas

In [11]:
reviews.iloc[0:5,:]

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [7]:
reviews = reviews.iloc[:, 1:]
reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

#### Indexing using labels in Pandas

In [13]:
reviews.loc[0:5, :]

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11

In [14]:
reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [10]:
reviews.loc[:5, 'score']

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    7.0
Name: score, dtype: float64

In [15]:
some_reviews = reviews.iloc[10:20,]
some_reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7

In [17]:
reviews.loc[:5,"score"]

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    7.0
Name: score, dtype: float64

In [19]:
reviews.loc[:5,["score", "release_year"]]

   score  release_year
0    9.0          2012
1    9.0          2012
2    8.5          2012
3    8.5          2012
4    8.5          2012
5    7.0          2012

#### Pandas Series Object

In [20]:
reviews['score']

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
5         7.0
6         3.0
7         9.0
8         3.0
9         7.0
10        7.5
11        7.5
12        7.0
13        9.0
14        9.0
15        6.5
16        6.5
17        8.0
18        5.5
19        7.0
20        7.0
21        7.5
22        7.5
23        7.5
24        9.0
25        7.0
26        9.0
27        7.5
28        8.0
29        6.5
         ...
18595     4.4
18596     6.5
18597     4.9
18598     6.8
18599     7.0
18600     7.4
18601     7.4
18602     7.4
18603     7.8
18604     8.6
18605     6.0
18606     6.4
18607     7.0
18608     5.4
18609     8.0
18610     6.0
18611     5.8
18612     7.8
18613     8.0
18614     9.2
18615     9.2
18616     7.5
18617     8.4
18618     9.1
18619     7.9
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [21]:
reviews[['score', 'release_year']]

       score  release_year
0        9.0          2012
1        9.0          2012
2        8.5          2012
3        8.5          2012
4        8.5          2012
5        7.0          2012
6        3.0          2012
7        9.0          2012
8        3.0          2012
9        7.0          2012
10       7.5          2012
11       7.5          2012
12       7.0          2012
13       9.0          2012
14       9.0          2012
15       6.5          2012
16       6.5          2012
17       8.0          2012
18       5.5          2012
19       7.0          2012
20       7.0          2012
21       7.5          2012
22       7.5          2012
23       7.5          2012
24       9.0          2012
25       7.0          2012
26       9.0          2012
27       7.5          2012
28       8.0          2012
29       6.5          2012
...      ...           ...
18595    4.4          2016
18596    6.5          2016
18597    4.9          2016
18598    6.8          2016
18599    7.0          2016
18600    7.4          2016
18601    7.4          2016
18602    7.4          2016
18603    7.8          2016
18604    8.6          2016
18605    6.0          2016
18606    6.4          2016
18607    7.0          2016
18608    5.4          2016
18609    8.0          2016
18610    6.0          2016
18611    5.8          2016
18612    7.8          2016
18613    8.0          2016
18614    9.2          2016
18615    9.2          2016
18616    7.5          2016
18617    8.4          2016
18618    9.1          2016
18619    7.9          2016
18620    7.6          2016
18621    9.0          2016
18622    5.8          2016
18623   10.0          2016
18624   10.0          2016

[18625 rows x 2 columns]

In [22]:
type(reviews['score'])

pandas.core.series.Series

In [23]:
s1 = pd.Series([1,2])
s1

0    1
1    2
dtype: int64

In [24]:
s2 = pd.Series(['Boris Yeltsin', 'Mikhail Gorbachev'])
s2

0        Boris Yeltsin
1    Mikhail Gorbachev
dtype: object